<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="connectionString" value="Server=DESKTOP-O9EER6A\\SQLEXPRESS;Database=3DPrinting;Integrated Security=true;TrustServerCertificate=true;" />
		<add key="selectParent" value="select * from producatori" />
		<add key="selectChild" value="select * from materiale" />
		<add key="nameParent" value="Producatori"></add>
		<add key="nameChild" value="Materiale"></add>
		<add key="parentID" value="id"></add>
		<add key="childID" value="id"></add>
		<add key="parentReference" value="producator"></add>
		<add key="deleteChild" value="Delete from materiale where id=@id"></add>
	</appSettings>
</configuration>